<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
    <link rel="icon" href="/img/cloudy.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    <p>{{message}}</p>
    <h4>If you have an any query regarding this weather app you can anytime contact with me to below gmail address</h4>
    <p><a href="mailto:mohdraza121.mr@gmail.com">contact me</a></p>
    </div>
    {{>footer}}
  </body>
</html>